<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AxiomRandomizer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AxiomRandomizer.My.MySettings>
            <setting name="ExeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionString" serializeAs="String">
                <value />
            </setting>
            <setting name="IldasmSavedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousSeed" serializeAs="String">
                <value />
            </setting>
            <setting name="IlasmSavedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RandoExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualDecompilePending" serializeAs="String">
                <value>False</value>
            </setting>
        </AxiomRandomizer.My.MySettings>
    </userSettings>
</configuration>