<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AxiomRandomizer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AxiomRandomizer.My.MySettings>
            <setting name="ExeFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionString" serializeAs="String">
                <value />
            </setting>
            <setting name="IldasmSavedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousSeed" serializeAs="String">
                <value />
            </setting>
            <setting name="IlasmSavedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RandoExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualDecompilePending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExeHashString" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpressExtractUsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtractionVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="XMLLimited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMLLimitCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapGeneration" serializeAs="String">
                <value>"Default"</value>
            </setting>
            <setting name="XMLSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="VanillaDecompileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingDecompileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomSeedOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveMenuSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuSavedDifficulty" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuSavedMapOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuSavedUkkin_Na1Way" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuSavedIllusionDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuSavedZi1Way" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuSavedOpenEribu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuSavedOpenElsenova" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuSavedOpenAbsu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuSavedBatchSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MenuSavedHideIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeperateLabCoats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeFakeCoat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xnbcliSavedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentCoatLightColor" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentCoatDarkColor" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoveMetallicPing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDroneColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentDroneLightColor" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentDroneDarkColor" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomizeCustomDroneColor" serializeAs="String">
                <value>False</value>
            </setting>
        </AxiomRandomizer.My.MySettings>
    </userSettings>
</configuration>